body,html {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat; 
    background-position: 0 0 no-repeat; 
    background-size: cover; 
    overflow: hidden; 
    font-family: "Microsoft yahei";
    background-color: #fff;
}

li {
    /* 设置列表项标记的类型 */
    list-style-type: none;
}

ul {
    padding-left: 10px;
}

h1 {
    /*上下居中*/
    position: fixed;
    left: 15px;
    top: 5px;
    width: 250px;
    height: 60px;
    color: #E424C5;
    font-size: 30px;
    line-height: 60px;
    /*左右居中*/
    text-align: center;
    /* background-color: #fff; */
}

canvas {
    position: fixed;
    left: 280px;
    top: 5px;
    /*把非块级元素强制改为块元素*/
    display: block;
    /*鼠标放上去变成手指形状*/
    cursor: pointer;
    background-color: #ffffff;
    /* solid实线 */
    border: 1px solid #cccccc;
}

.container {
    width: 250px;
    height: 60px;
    position: fixed;
    left: 15px;
    top: 70px;
}

.container h2{
    width:100%;
    height:60px;
    font-size:22px;
    text-align:center;
    color: #ff377e;
    font-weight:normal;
    line-height:60px;
    border-bottom:1px solid #000;
}

.container h3{
    width:100%;
    height:30px;
    font-size:18px;
    text-align:center;
    color: #41b1ff;
    font-weight:normal;
    line-height:30px;
}

.row {
    width: 100%; 
    height: auto;
    background-color: rgba(192,192,192,0.50);
    overflow: hidden;
}



    
.type {
    width: 100%;
    height: auto;
    /*上下边距20px，左右边距0*/
    margin: 20px 0;
    padding-bottom: 10px;
    /*把不同块分隔开*/
    border-bottom: 1px solid #fff;
}
/*将style一栏分隔到下面*/
.type:after {
    content: "";
    display: block;
    clear: both;
}
.type li {
    /*水平排列*/
    float: left;
    /*li之间间隔*/
    width: 90px;
    height: 45px;
    /*上下边距0，左右边距自动*/
    margin: 0 auto;
    background-color: #2F86EB;
    /*字体颜色*/
    color: #fff;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 15px;
    /*边框角弧度*/
    border-radius: 5px;
    cursor: pointer;
    /*过渡效果*/
    transition: all 0.7s;
}
.type li:hover {
    background-color: #fff;
    color: #2F86EB;
    box-shadow: 0 0 10px rgba(0,120,225,0.77);
}
/*type框初始类型*/
.type .typeActive {
    background-color: #fff;
    color: #2F86EB;
    box-shadow: 0 0 10px rgba(0,120,225,0.77);            
}
/*子类两两分隔*/
.type li:nth-child(odd){
    margin-left: 25px;
}
/*相连子类间隔20px;*/
.type li:nth-child(even){
    margin-left: 20px;
}

.poly {
    position: relative;
}
.trim {
    position: absolute;
    width: 90;
    height: auto;
    border-radius: 5px;
    background-color: #F13E41;
    overflow: hidden;
    transform: scale(1);
    display: none;
}
.trim span {
    display: block;
    float: left;
    width: 40px;
    height: 45px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    transition: all 0.7s;
}
.trim input {
    float:left;
    width:45px;
    height:35px;
    margin-top:5px;
    border:1px solid #fff;
    box-sizing:border-box;
    text-align:center;
    line-height:40px;
    font-size:18px;
    color:#fff;
    background:#EC494E;
    border-radius:3px;
    box-shadow:0 0 0 4px #fff inset;
    transition:all 0.7s;
}




.style{
    width:100%;
    height:40px;
}
.style li{
    float:left;
    width:90px;
    height:45px;
    background-color:#32B691;
    color:#fff;
    font-size:18px;
    line-height:45px;
    text-align:center;
    border-radius:5px;
    cursor:pointer;
    transition:all 0.7s;
}
.style li:hover{
    color: #32B691;
    background-color:#fff;
    box-shadow:0 0 10px rgba(53, 199, 195, 0.77);
}
.style .styleActive{
    color: #32B691;
    background-color:#fff;
    box-shadow:0 0 10px rgba(53, 199, 195, 0.77);
}
.style li:nth-child(1){
    margin-left:25px;
}
.style li:nth-child(2){
    margin-left:20px;
}




.space{
    float:left;
    width:100%;
    height:0;
    border-bottom:1px solid #fff;
    margin:20px 0;
}




.box {
    /*将不同div区分开*/
    float:left;
    width:90px;
    height:auto;
    background-color:#EC494E;
    overflow:hidden;
    border-radius:5px;
    transition:all 0.7s;
    margin-left: 25px;
}
.lineWidth {
    margin-left: 20px;
}
.box:hover {
    background-color: #fff;
    box-shadow:0 0 10px rgba(208, 48, 123, 0.77);
}
.box span {
    display:block;
    float:left;
    width:40px;
    height:45px;
    font-size:16px;
    color:#fff;
    text-align:center;
    line-height:40px;
    color:#fff;
    transition:all 0.3s;
}
.box span:hover {
    color: #EC494E;
}
.box input{
    float:left;
    width:45px;
    height:35px;
    margin-top:5px;
    border:1px solid #fff;
    box-sizing:border-box;
    text-align:center;
    line-height:40px;
    font-size:18px;
    color:#fff;
    background:#EC494E;
    border-radius:3px;
    box-shadow:0 0 0 4px #fff inset;
    transition:all 0.3s;
}
.box2 span{
    width:55px;
}
.box2 input{
    width:140px;
}





.cut,.createBt,.back{
    float:left;
    width:90px;
    height:45px;
    margin-left:25px;
    margin-bottom:15px;
    background-color: #5bd219;
    color:#fff;
    font-size:18px;
    line-height:45px;
    text-align:center;
    border-radius:5px;
    cursor:pointer;
}
.copy,.clear,.save{
    float:left;
    width:90px;
    height:45px;
    margin-left:20px;
    margin-bottom:15px;
    background-color: #5bd219;
    color:#fff;
    font-size:18px;
    line-height:45px;
    text-align:center;
    border-radius:5px;
    cursor:pointer;
}

.setting {
    transition: all 0.7s;
}
.settingStyle {
    background: #fff;
    color: #22A531;
}
.createBt {
    position: relative;
}
.create {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 165px;
    border-radius: 5px;
    background-color: #ec494e;
    box-shadow: 0 0 15px rgba(236,73,78,0.76);
    cursor: default;
    display: none;
}
.create:hover {
    color: #fff;
}
.create_before {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    width: 20px;
    color: #fff;
    line-height: 16px;
    text-indent: -1px;
    font-size: 30px;
    border: 1px solid #fff;
    cursor: pointer;
}
.create h6{
    width:100%;
    height:50px;
    color:#fff;
    line-height:50px;
    text-align:center;
    font-size:20px;
    font-weight:normal;  
}
#sure {
    width:60px;
    height:30px;
    font-size:14px;
    border-radius:3px;
    color:#fff;
    background-color:#0078ff;
    border:0;
    outline:none;
    cursor:pointer;
    box-shadow:0 0 10px rgba(0, 120, 255, 0.5); 
}
.create_width,.create_height {
    float: left;
    width: 85px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #ffbc00;
}
.create_width:hover,.create_height:hover {
    background-color:#fff;
    color:#000;
}
.create_width span,.create_height span {
    float: left;
    width: 30px;
    height: 100%;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
.create_width input,.create_height input {
    float:left;
    margin-top:5px;
    width:50px;
    height:30px;
    text-align:center;
    line-height:30px;
    font-size:14px;
    border:1px solid #FFBB00;
    /*number进入宽高里面*/
    box-sizing:border-box;
}